<!doctype html>
<html>
	<head>
		<title>Dynamic PDF filled with XML</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/custom.css" rel="stylesheet">
	</head>
<body>

<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">

		<div class="container">
	   
		<ul class="nav">
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			<a href="/inbox">Inbox</a>
		</li>
		<li class="active">
			<a href="/fillform">Dynamic PDF</a>
		</li>
		</ul>

		</div>
	</div>
</div>

<div class="container">
	<h1>Dynamic PDF</h1>


	<p>
		<a href="fill.pdf">This PDF form created in LiveCycle Designer</a> will have <a href="fill.xml">this XML data</a> inserted into it.
	</p>
	<p>
		<a href="fillform/result">View the result</a>
	</p>

</div>

</body>

</html>