<!doctype html>
<html>

<body>
	<title>Dynamic PDF filled with XML</title>

<h1>Dynamic PDF</h1>


<p>
	<a href="fill.pdf">This PDF form created in LiveCycle Designer</a> will have <a href="fill.xml">this XML data</a> inserted into it.
</p>
<p>
	<a href="fillform/result">View the result</a>
</p>



</body>

</html>