<!doctype html>
<html>

<body>
	<title>PDF data sent over HTTP</title>

<h1>Forms!</h1>

<h2>Forms that Submit Data</h2>
<p>
<a href="acroform.pdf">Acro Form</a>
</p>

<p>
<a href="xfaform.pdf">XFA Form</a>
</p>


<h2><a href="inbox">View Received Forms</a></h2>

<h2>Dynamic PDF filled with data</h2>
<p>
<a href="/fillform">Dynamic Form</a>
</p>



</body>

</html>