<!doctype html>
<html>
	<head>
		<title>PDF Form data sent HTTP Post Parameters</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/custom.css" rel="stylesheet">
	</head>
<body>
	
<div class="container">
	<h1>Thanks!</h1>
	<p>Only the form field data is sent to the server.<br />
		This works the same if the form was created in Acrobat or LiveCycle Designer
	</p>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Field Name</th>
				<th>Value</th>

			</tr>
		</thead>
		<tbody>

		<% params.each do |k,v| %>
			<tr>
				<td><%= k %></td>
				<td><%= v %></td>

			</tr>

		<% end %>

		</tbody>
	</table>

</div>

</body>

</html>