<!doctype html>
<html>
	<head>
		<title>PDF Form sent via HTTP Post</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/custom.css" rel="stylesheet">
	</head>
<body>
	
<div class="container">
	<h1>Thanks!</h1>
	<p>The PDF form was created in LiveCycle Designer</p>
	<p>You submitted the following information:</p>

	<pre>
	<%= @fData %>

	</pre>

</div>

</body>

</html>